.App {
  text-align: center;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.inputContainer {
  width: 100%;
}

.contentContainer {

  width: 80%;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hiveContainer {
  
}

.hive {
  transform: translateX(20%);
}

.lettersDisplay {
  width: 100%;
}

.Hive {
  width: 100%;

}

button {
  margin-top: 21.5px;
}