.wordListContainer {
  padding: 21.440px;

  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-auto-rows: minmax(min-content, max-content);

  padding: 10px;
}

.wordContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button{
  margin-bottom: 10px !important;
}
