.wordListContainer {

  width: 261px !important;
  height: 271.23px !important;
}

ul {

  height: 271.23px !important;  
  list-style-type: none;

  display: flex;
  flex-flow: column wrap;
}

li {
  text-align: left;
}
